h1, h2 {
    padding: 5px;
}

.overview, .education, .skills, .projects, .job, .contact {
    content: "";
    clear: both;
    display: table;
    margin: auto;
}

.education {
    width: 75%;
}

.skills, .job, .overview {
    width: 50%;
}

.education h1, .skills h1, .projects h1, .job h1, .contact h1 {
    text-align: center;
}

.text-mark1 {
    background: linear-gradient(to right, #b37997, #5c348a);
    background-clip: text;
    color: transparent;
}

.text-mark2 {
    background: linear-gradient(to right, #6d64a2, #1b4681);
    background-clip: text;
    color: transparent;
}

header {
    text-align: center;
}

.img-overview {
    height: 320px;
    width: 240px;
    float: left;
    margin-right: 40px;
}

.img-overview img {
    border-radius: 20px;
    object-fit: contain;
}

header a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

a.link:hover {
    background: linear-gradient(to bottom, transparent 50%,#c5b1dd 50%);
}

.timeline-up {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid black;
}

.timeline-down {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.year {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
}

.my-projects, .other-projects {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.my-projects article, .other-projects article {
    margin: 20px;
    width: 30%;
}

.platforms {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

.platforms img {
    object-fit: contain;
    height: 50px;
    width: 50px;
}

